.custom-nav
  height: 48px
  position: absolute
  top: 0
  left: 0
  background: rgba(0,0,0,0.8)
  display: block
  margin: 0
  width: 100%
.container
  max-width: 980px
  margin: 0 auto
  position: relative
.menu-list
  list-style-type: none
  list-style: none
  padding: 0
  color: #ffffff
  margin: 0 auto

.toggle
  position: absolute
  left: 0
.icon-apple
  position: absolute
  width: 48px
  top: 0
  left: 50%
  margin-left: -10px
  text-align: center
.shop-bag
  position: absolute
  right: 0
  
.nav-items
  display: inline
  float: left
.btn
  border: none
  background: transparent
  cursor: pointer
  height: 48px
  transition: transform .2s
  padding: 0 16px
.btn:focus 
  outline: none

.icon-bar 
  height: 1px
  width: 17px
  border-radius: 1px
  background-color: #ffffff
  display: block
  transform-origin: 12px
  transition: transform .2s

.icon-bar+.icon-bar
  margin-top: 4px

.clicked
  .btn
    transform: rotate(90deg)
  .icon-bar:nth-last-child(1)
    transform: rotate(45deg)
  .icon-bar:nth-last-child(2)
    transform: rotate(-45deg)
.icon-apple a
  background-image: url("https://www.apple.com/ac/globalnav/3/it_IT/images/globalnav/apple/image_small.svg")
  background-size: 18px 48px
  background-repeat: no-repeat
  background-position: center center
  width: 20px
  height: 48px
  display: block
.shop-bag a
  background-image: url("https://www.apple.com/ac/globalnav/3/it_IT/images/globalnav/bag/image_small.svg")
  background-size: 17px 48px
  background-repeat: no-repeat
  background-position: center center
  width: 20px
  height: 48px
  display: block
  padding: 0 16px
.container-slider
  position: absolute
  top: 48px
  width: 100%
  background-color: rgb(15, 15, 15)
  padding-bottom: 18px
  @media (min-width: 769px)
    display: flex
.apple-bg
  background-size: 28px 54px
  background-repeat: no-repeat
  width: 28px
  background-position: center
  display: block
  margin: 0 auto
  height: 54px
  &--music
    background-image: url("https://www.apple.com/v/music/f/images/overview/icons/apple_music_dark_large.svg")
  &--itunes
    background-image: url("https://www.apple.com/v/music/f/images/overview/icons/itunes_dark_large.svg")
  &--ipod
    background-image: url("https://www.apple.com/v/music/f/images/overview/icons/ipod_touch_dark_large.svg")
  &--acc
    background-image: url("https://www.apple.com/v/music/f/images/overview/icons/accessories_dark_large.svg")
  &--present
    background-image: url("https://www.apple.com/v/music/f/images/overview/icons/gift_cards_dark_large.svg")
.swiper-wrapper
  padding-right: 34px
  padding-left: 34px
.swiper-slide
  @media (min-width: 769px)
    width: 6vw
  width: 22.5vw
  .label
    color: white
    font-size: 11px
    line-height: 1.09091
    font-weight: 400
    letter-spacing: .005em
    display: block
    margin: 0
    text-align: center
.link-slide
  text-decoration: none